* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    margin: 40px auto;
    border: 1px solid darkgrey;
    padding: 55px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    margin: 30px auto;
    width: 80%;
}

h1, h2, p {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#topics {
    width: 55%;
    margin: 25px auto;
    line-height: 1.5em;
}

.list {
    list-style-type: none;
    margin-bottom: 40px;
}

.list li {
    margin-bottom: 15px;
}

